* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/* Color Palette */
/* source: https://www.color-hex.com/color-palette/7180 */
/* #e1eeee */
/* #d1e7e7 */
/* #c6d3e3 */
/* #f8f8ff */
/* #d9ddf4 */
/* more */
/* #5f656b */
/* black */

/* Nav Styling */

nav ul {
  background-color: #e1eeee;
  list-style: none;
  padding: 20px;
  display: flex;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: #5f656b;
  font-size: 20px;
  padding: 5px 10px;
}

.navSelected {
  font-weight: bold;
  text-transform: uppercase;
}

/* Home Page Styling */
